.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.field{
    width: 300px;
}

label{
    width: 100px;
    text-align: start;
}

.error{
    color: red;
    margin-left: 120px;
    font-size: 12px;
}

.error-div{
    height: 10px;
}

.table-btn{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}